/*Gallery*/

.gallery {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap;
}
.gallery img {
	border:6px solid #eee;
	transition: all 1s ease-in-out;
}
.gallery img:hover {
	border:6px solid pink;
}
.gallery li div.item {
	position: relative;
	overflow: hidden;
}
.gallery li div.item span {
	position: absolute;
	bottom: -50px;
	left: 0;
	background:#ffffff;
	background:rgba(255,255,255,.8);
	width:100%;
	padding: .7em 0 1.2em 0;
	text-align: center;
	transition: all 1s ease-in-out;
}
.gallery li div.item:hover span {
	bottom:0;
}